h1{
    font-family: monospace, Geneva, Tahoma, sans-serif;
    color: rgb(0, 2, 1);
    position: relative;
    text-align: center;
    margin-top: 0px;
}
#helloWorld{
    top: 95px;
    font-size: 40px;
}
body{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: #A0C3D2;
    overflow-x: hidden;
    padding: 0px;
}
span{
    color: rgb(6, 102, 228);
    text-decoration: dotted;
}
hr{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 5px solid black;
    border-bottom: none;
    border-top: none;
    width: 20%;
    border-style: dashed;
}
#topSide{
    margin-bottom: 0px;
}
#highlightText{
    color:rgb(6, 102, 228);
}
#innerContent{
    left: 38.5%;
    top: 0px;
    color: black;
    position: relative;
    font-family: monospace, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
#topCloud{
    position: relative;
    top: 45px;
    margin-left: 45%;
    padding: 0px;
}
#Content{
    width: 100%;
    height: auto;
    position: relative;
    bottom: 30px;
}
#midCloud{
    position: relative;
    margin-left: 9%;
}
#lowCloud{
    position: relative;
    margin-left: 68%;
}
#ground{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: -5px;
    background-color: transparent;
}
#mountain{
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 470px;
}
#bottomSide{
    margin-top: 0px;
    width: 100%;
    height: auto;
    border-top: 6px solid gainsboro;;
}
#mySkills{
    position: relative;
    top: 15px;
    padding: 0px;
}
#keySkills{
    position: relative;
    bottom: 100%;
    height: 300px;
}
#botPanel{
    background-color: rgba(29, 194, 215, 0.16);
    bottom: 100%;
    height: 60px;
    border: 6px solid gainsboro;
    border-left: none;
    border-bottom: none;
    border-right: none;
}
#title{
    font-family: monospace, Geneva, Tahoma, sans-serif;
    margin-top: 0px;
    text-align: center;
}
#damn{
    position: absolute;
    left: 40%;
}
#contactPanel{
    margin: 0px,0px,0px,0px;
    border-left: none;
    border-bottom: none;
    border-right: none;
}
#title{
    font-size: 20px;
    margin-bottom: 10px;
}
a{
    font-family: monospace, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-top: 0px;
    margin-left: 55px;
}
li{
    margin-top: 30px;
    font-size: 20px;
    font-family: monospace, Geneva, Tahoma, sans-serif;
}
.skill{
    text-decoration: underline;
    font-size: 20px;
    color: rgb(6, 102, 228);
}
#tableSkills1{
    position: absolute;
    left: 300px;
}
#tableSkills2{
    position: absolute;
    left: 1150px;
}
#tableSkills3{
    position: absolute;
    left: 750px;
}